*{
    margin: 0;
    padding: 0;
    background: grey;
}
html, body {
    min-height: 100%;
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;     /*when website overflows, will give you the scrollbar*/
    padding-bottom: 100px;
}
#foot {
    height: 100px;
    margin-top: 300px;;
    clear: both;
}
/*grid class for div element container*/
.grid {
    /*tells the page we want we a grid*/
    display: grid;
    /*defines how many columns we want in the grid*/
    grid-template-columns: 1fr 1fr;
}
/*classes for divs*/
.title {
    /*css grid style*/
    grid-column: 1/2;
    text-align: left;
    font-size: 2em;
    background-image: linear-gradient(to right, green, grey);
}
.menu {
    grid-column: 2/4;
    text-align: right;
    font-size: 1.5em;
    color: whitesmoke;
}
.header1 {
    grid-column: 1/4;
    font-size: 2em;
    background: #228B22;
    text-align: center;
}
.header2 {
    grid-column: 1/4;
    text-align: center;
    font-size: 2em;
    background: #228B22;
}
/*content 1 is for the top column paragraph list*/
.content1 {
    grid-column: 1/4;
    color: #FFD700;
    font-size: 1.1em;
}
/*content2 is for the bottom column parapgraph report*/
.content2 {
    grid-column: 1/4;
    color: #FFD700;
    font-size: 1.1em; 
}
.ptop {
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    background: black;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;;
}
.paragraph {
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    background: black;
}
.pbot {
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    background: black;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.footer {
    grid-column: 1/4;
    font-size: 1.1em;
    text-align: right;
    background: orangered;
}
.none, li {
    list-style: none;
    display: inline;
}