*{
    border: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    min-width: 860px;
}

.header, .footer{
    grid-column: 1/4;
    background: #98FF98;
    color:blue;
    text-align: center;
    
}

.menu{
    color: maroon;
    background: #fff;
}

.content{
    background: #fff;
    color: maroon
}

ul{
    list-style: none;
}

h2{
    padding: .5em;
}